/*widgets*/
.widget-header > div, .widget-header strong, .widget-header [class^="icon-"], .widget-header [class*=" icon-"], .widget-header a {
  color:#FFF;
  font-size: 18px;
  font-weight: 400;
}
.widget-header.navbar .nav > li > a {
  color:#FFF;
  font-size: 18px;
  font-weight: 400;
  text-shadow: none;
}
.widget-header.navbar .nav li.dropdown>.dropdown-toggle .caret {
  color:#FFF;
  border-top-color: #FFF;
  border-bottom-color: #FFF;
}

/*light-blue*/
.widget-header.light-blue  {
  background-color: #52b9e9;
  border: 1px solid #52b9e9;
}
.widget-content.light-blue, h1.light-blue {
  color: #52b9e9;
}

/*dark-blue*/
.widget-header.dark-blue  {
  background-color: #1171a3;
  border: 1px solid #1171a3;
}
.widget-content.dark-blue, h1.dark-blue   {
  color: #1171a3;
}

/*red*/
.widget-header.red  {
  background-color: #fa3031;
  border: 1px solid #fa3031;
}
.widget-content.red, h1.red   {
  color: #fa3031;
}

/*green*/
.widget-header.green {
  background-color: #43c83c;
  border: 1px solid #43c83c;
}
.widget-header.green > div {
  color:white;
}
.widget-content.green, h1.green   {
  color: #43c83c;
}

.orange-background {
  background-color: #f88529;
  border: 1px solid #f88529;
  color: white;
}

/*orange*/
.widget-header.orange  {
  background-color: #f88529;
  border: 1px solid #f88529;
}
.widget-header.orange > div {
  color:white;
}
.widget-content.orange, h1.orange  {
  color: #f88529;
}

/*purple*/
.widget-header.purple  {
  background-color: #932ab6;
  border: 1px solid #932ab6;
}
.widget-header.purple > div {
  color:white;
}
.widget-content.purple, h1.purple  {
  color: #932ab6;
}

/* connect-modal-header */
.connect-modal-header {
  padding-left: 15px;
  padding-right: 15px;
  min-height: 40px; 
  line-height: 40px;
  background:#FFFFFF;
  border: 1px solid #D5D5D5;
}

.connect-modal-header .navbar {
  margin-bottom: 0px;
}

.connect-modal-header h1 i {
  color:inherit;
  font-size: 38.5px;
}
.connect-modal-header h1 a {
  margin-top:10px;
  margin-right:13px;
  font-weight: normal;
}

.connect-modal > .widget-content {
  border-top: none;
}
