/* blockquotes */

/* The future */

/*blockquote.imperative-content, blockquote.quotes {
  padding: 8px;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
  -webkit-box-shadow: inset 20px 0 0 #fbfbfc, inset 21px 0 0 #ececf0;
    -moz-box-shadow: inset 20px 0 0 #fbfbfc, inset 21px 0 0 #ececf0;
      box-shadow: inset 20px 0 0 #fbfbfc, inset 21px 0 0 #ececf0;
}
blockquote p {
  margin-left: 25px;
}*/

blockquote.imperative-content.mood {
  border-left: 5px solid #ae0060;
}
blockquote.imperative-content.play {
  border-left: 5px solid #55a51a;
}
blockquote.polls {
  border-left: 5px solid #55a51a;
}
blockquote.quotes {
  border-left: 5px solid #55a51a;
}
blockquote.content.latest_poll {
  border-left: 5px solid #55a51a;
}
blockquote.imperative-content.game {
  border-left: 5px solid #55a51a;
}
blockquote.imperative-content p {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: normal;
  line-height: 25px
}