/*!
 * CBITS v0.0.2
 *
 * Designed and built with a goal of world peace.
 */
@import "../../bootstrap/css/bootstrap-wo-icons.min.css";
@import "../../bootstrap/css/bootstrap-responsive.min.css";
@import "../../font_awesome/css/font-awesome.min.css";
@import "_comments.css";
@import "_content.css";
@import "_imperative-content.css";
@import "_instruction.css";

@import "activity-tracker.css";
@import "admin-panel.css";
@import "filter-overlay-container.css";
@import "guide-editor.css";
@import "guides.css";
@import "input-group-template.css";
@import "nw-text-colors.css";
@import "override-bootstrap.css";
@import "our-full-calendar.css";
@import "our-tour.css";
@import "social-networking-home-page-widgets.css";
@import "widgets.css";

body {
  background-color:#f5f5f5;
}

/* modals */
.connect-modal {
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
}
.connect-modal, .widget.connect-modal  {
  clear:none;
}

.select-multiple label {
  margin-bottom:0px;
}

strong.lead {
  font-weight: bold
}

div.list-block {
  padding: 0 0 0 15px;
  margin: 0 0 20px;
  border-left: 5px solid #eeeeee;
}

/*in assessment maker*/
.show_container.widget div.instruction {
  font-weight: bold;
}

img.user-image {
  background: #0068AC;
}


strong.user-name {
  color:#810262;
}

strong.user-byline:before {
  content: '\2014 \00A0';
}

hr.small {
  margin:10px 0px;
}

.input-xmini {
  width: 40px;
}

.likes {
  margin:10px 0px;
}

.btn.active {
  background-color:#C0C0C0;
}
.btn-like {
  border-radius: 500px;
}

button.thumbs-up {
  color:#3A87AD;
  margin-right:5px;
}

div.label_and_input {  
  display:block; 
  width:95%; 
  margin: 0 auto 0.1em auto; 
  padding: 0.5em 0; 
  border: 1px solid #999; border-radius: 5px; -moz-border-radius: 5px; 
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);  
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3); 
  
  font-size:1em;
  text-align:left;
  color:#1e497c;
  background-color:#FFFFFF;
}
ul#goals {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}
ul#goals li div.list-item {
  margin:10px;
}

hr.divider-prog-pink {
  border-bottom: 2px solid #ae0060;
  margin:10px 0px;
}

/* summary items */
.summary-item-container {
  margin-bottom: 20px;
  padding-bottom:20px;
  border-bottom: 1px solid #E3E3E3;
}
.summary-content-container {
  padding: 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: white;
  /*border-bottom: 1px solid #E3E3E3;*/
}
.summary-content-container img {
  margin-right:10px;
}
.summary-item-container  [class^="icon-"] {
  line-height: 30px;
  font-size: 25px;
  color:white;
  /*text-shadow: 4px 4px 5px #888;*/
}
.thought-summary {
  background: #fee727;
  /*color:white;*/
}
.lesson-summary {
  background: #00B1C9;
  color:white;
}
.connect-summary {
  background: #55a51a;
  color:white;
}
.mood-summary {
  background: #ae0060;
  color:white;
}
.do-summary {
  background: #fa6801;
  color:white;
}

/* Lesson */
.lesson-item {
  border-left: 10px solid #00b1c0;
  background-color: #eeeeee;
}

/* Do */
.do-item {
  border-left: 10px solid orange;
  background-color: #eeeeee;
}
#poll-responses li {
  list-style-type:none;
}

/* 'former' heading stuff */
h2 .h2-header {
  font-size: 24px;
  font-weight: 200;
  letter-spacing:2px;
}
.accordion-header h2, #goals-accordion-header h2 {
  cursor: pointer;
  border-bottom: none;
}
.accordion-body {
  display:none;
}
.caret-icons i {
  line-height:30px;
  font-size:20px;
  padding-right: 5px;
  color:#696969;
}

.h2-move {
  cursor: move;
}
i.icon-move {
  cursor: url(https://mail.google.com/mail/images/2/openhand.cur), default !important;
}
iframe#guided-page {
  width: 100%;
  min-height:600px;
}
#to-do-body, #guides-body {
  display:block;
}
ul#goals.accordion-body {
  overflow-y: scroll;
  max-height: 200px;
}
.caret {
  color: #555;
}

.inline {
  display:inline;
}

.well-white {
  background-color: white;
  border:none;
  box-shadow: none;
}

.text-large {
  font-size: 17.5px;
  line-height: 20px;
}

form.form-condensed .control-group {
  margin-top: 0px;
  margin-bottom: 5px;
}

.show-prediction {
  font-weight: bold
}

.show-prediction:before {
  content: '\2014 \00A0';
  font-weight: bold
}

/*pagination*/
a.page-prev i {
  /*match font-size*/
  height:18px; 
}
a.page-next i {
  /*match font-size*/
  height:18px;
}