/*!
 * CBITS v0.0.2
 *
 * Designed and built with a goal of world peace.
 */
@import "../../bootstrap/css/bootstrap-wo-icons.min.css";
@import "../../bootstrap/css/bootstrap-responsive.min.css";
@import "../../font_awesome/css/font-awesome.min.css";
@import "activity-tracker.css";
@import "filter-container.css";
@import "guide-editor.css";
@import "guides.css";
@import "input-group-template.css";
@import "navbar.css";
@import "our-full-calendar.css";
@import "our-tour.css";
@import "social-networking-home-page-widgets.css";
@import "stream.css";
@import "widgets.css";

.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}

body {
  background-color:#f5f5f5;
}

.select-multiple label {
  margin-bottom:0px;
}
strong.lead {
  font-weight: bold
}

div.list-block {
  padding: 0 0 0 15px;
  margin: 0 0 20px;
  border-left: 5px solid #eeeeee;
}
/*in assessment maker*/
.show_container.widget div.instruction {
  font-weight: bold;
}
div.instructions{
  font-size: 12px;
  font-weight: normal;
  /*font-style: italic;*/
  /*border-bottom: 1px solid #6d6e71;*/
  margin-bottom: 5px;
  /*border-bottom: 1px solid #eeeeee;*/
}
.instructions label {
  font-style: normal;
}
.show_container.widget div.content{
  font-weight: bold;
}

/* blockquotes mood */
blockquote.imperative-content.mood {
  border-left: 5px solid #ae0060;
}
blockquote.imperative-content.play {
  border-left: 5px solid #55a51a;
}
blockquote.polls {
  border-left: 5px solid #55a51a;
}
blockquote.quotes {
  border-left: 5px solid #55a51a;
}
blockquote.content.latest_poll {
  border-left: 5px solid #55a51a;
}
blockquote.imperative-content.game {
  border-left: 5px solid #55a51a;
}
blockquote.imperative-content p {
  margin-bottom: 20px;
  font-size: 16px;
  /* font-weight: 200/300; */
  font-weight: normal;
  /*font-style: italic;*/
  line-height: 25px
}
blockquote.user-comment {
  border-left: 5px solid #dfc2e1;
}

img.user-image {
  background: #0068AC;
}
p.user-comment {
  color:#520063;
}

p.user-comment:before {
  content: '\2014 \00A0';
}

strong.user-name {
  color:#810262;
}

strong.user-byline:before {
  content: '\2014 \00A0';
}

hr.small {
  margin:10px 0px;
}

.input-xmini {
  width: 40px;
}

.likes {
  margin:10px 0px;
}

/* buttons */
.btn.active {
  background-color:#C0C0C0;
}
.btn-like {
  border-radius: 500px;
}

button.thumbs-up {
  color:#3A87AD;
  margin-right:5px;
}

div.label_and_input {  
  display:block; 
  width:95%; 
  margin: 0 auto 0.1em auto; 
  padding: 0.5em 0; 
  border: 1px solid #999; border-radius: 5px; -moz-border-radius: 5px; 
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);  
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3); 
  
  font-size:1em;
  text-align:left;
  color:#1e497c;
  background-color:#FFFFFF;
}
ul#goals {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}
ul#goals li div.list-item {
  margin:10px;
}
.text-prog-gray {
  color: #6d6e71;
}
.text-prog-purple {
  color: #520063;
}
.text-prog-pink {
  color: #ae0060;
}
.text-prog-green {
  color: #8ed400;
}
.text-prog-blue {
  color: #00b1c0;
}
.text-prof-gray {
  color: #6d6e71;
}
.text-prof-purple {
  color: #331d54;
}
.text-prof-pink {
  color: #810262;
}
.text-prof-green {
  color: #55a51a;
}
.text-prof-blue {
  color: #0082bf;
}
.text-hcc-blue {
  color:#9bd4f2;
}

hr.divider-prog-pink {
  border-bottom: 2px solid #ae0060;
  margin:10px 0px;
}

/* summary items */
.summary-item-container {
  margin-bottom: 20px;
  padding-bottom:20px;
  border-bottom: 1px solid #E3E3E3;
}
.summary-content-container {
  padding: 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: white;
  /*border-bottom: 1px solid #E3E3E3;*/
}
.summary-content-container img {
  margin-right:10px;
}
.summary-item-container  [class^="icon-"] {
  line-height: 30px;
  font-size: 25px;
  color:white;
  /*text-shadow: 4px 4px 5px #888;*/
}
.thought-summary {
  background: #fee727;
  /*color:white;*/
}
.lesson-summary {
  background: #00B1C9;
  color:white;
}
.connect-summary {
  background: #55a51a;
  color:white;
}
.mood-summary {
  background: #ae0060;
  color:white;
}
.do-summary {
  background: #fa6801;
  color:white;
}
/* list-items */
.list-item {
  margin: 0 0 20px;
  cursor: hand;
  cursor: pointer;
  padding: 5px 5px 5px 15px;
  background-color: #C6E9E7;
  color:#57585A;
}

.list-item p {
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 300;
  line-height: 25px;
}

/* Lesson */
.lesson-item {
  border-left: 10px solid #00b1c0;
  background-color: #eeeeee;
}

/* Do */
.do-item {
  border-left: 10px solid orange;
  background-color: #eeeeee;
}
#poll-responses li {
  list-style-type:none;
}
/* 'former' heading stuff */
h2 .h2-header {
  font-size: 24px;
  font-weight: 200;
  letter-spacing:2px;
}
.accordion-header h2, #goals-accordion-header h2 {
  cursor: pointer;
  border-bottom: none;
}
.accordion-body {
  display:none;
}
.caret-icons i {
  line-height:30px;
  font-size:20px;
  padding-right: 5px;
  color:#696969;
}
.h2-move {
  cursor: move;
}
i.icon-move {
  cursor: url(https://mail.google.com/mail/images/2/openhand.cur), default !important;
}
iframe#guided-page {
  width: 100%;
  min-height:600px;
}
#to-do-body, #guides-body {
  display:block;
}
ul#goals.accordion-body {
  overflow-y: scroll;
  max-height: 200px;
}
.caret {
  color: #555;
}

.inline {
  display:inline;
}

.well-white {
  background-color: white;
  border:none;
  box-shadow: none;
}

.text-large {
  font-size: 17.5px;
  line-height: 20px;
}

form.form-condensed .control-group {
  margin-top: 0px;
  margin-bottom: 5px;
}

.show-prediction {
  font-weight: bold
}

.show-prediction:before {
  content: '\2014 \00A0';
  font-weight: bold
}

/*pagination*/
a.page-prev i {
  /*match font-size*/
  height:18px; 
}
a.page-next i {
  /*match font-size*/
  height:18px;
}

#poll_question .content {
  margin-top:0px;
  margin-bottom:0px;
}
.content {
  margin: 40px 0px;
}
.content p {
  margin-bottom: 20px;
  font-size: 16px;
  /* font-weight: 200/300; */
  font-weight: normal;
  line-height: 25px
}