#guides-container .widget-header {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

#guides-container .widget-content {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  padding:0px;
}

#guides-container .widget-content.guide-view, #guides-container .widget-content .guide-view  {
  overflow-y:scroll;
  padding:0px 15px 15px 15px; 
}

#guides-container ul#current-guide-navigation-buttons {
  margin: 0px;
  padding: 10px;
  /* .well color */
  background-color: #f5f5f5; 
  border-top: 1px solid #D5D5D5;
}

/* This is used so pager buttons have same links as pager links/anchor tags */
.pager button {
  color: #0088cc;
  text-decoration: none;
}

.pager button:hover,
.pager button:focus {
  color: #005580;
}
.pager {
  margin: 20px 0;
  list-style: none;
  text-align: center;
  *zoom: 1;
}
.pager:before,
.pager:after {
  display: table;
  content: "";
  line-height: 0;
}
.pager:after {
  clear: both;
}
.pager li {
  display: inline;
}
.pager li > button,
.pager li > span {
  display: inline-block;
  padding: 5px 14px;
  background-color: #fff;
  border: 1px solid #ddd;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}
.pager li > button:hover {
  text-decoration: none;
  background-color: #f5f5f5;
}
.pager .next > button,
.pager .next > span {
  float: right;
}
.pager .previous > button,
.pager .previous > span {
  float: left;
}
.pager .disabled > button,
.pager .disabled > button:hover,
.pager .disabled > span {
  color: #999999;
  background-color: #fff;
  cursor: default;
}